apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "devops-learning-platform.fullname" . }}-backend
spec:
  replicas: {{ .Values.backend.replicaCount }}
  selector:
    matchLabels:
      app: backend
      release: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app: backend
        release: {{ .Release.Name }}
    spec:
      containers:
        - name: backend
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}"
          imagePullPolicy: {{ .Values.global.imagePullPolicy }}
          ports:
            - containerPort: 8787
          readinessProbe:
            httpGet:
              path: /api/v1/health
              port: 8787
            initialDelaySeconds: 5
            periodSeconds: 10
